.chat-line__message-container {
    & > img,
    & > video {
        display: block;
    }

    & > img,
    & > video,
    .notice {
        max-width: 100%;
        max-height: 50vh;
        margin-inline: auto;
    }

    & > img,
    & > video,
    .notice, .notice div {
        margin-block-start: .25em;
    }

    .notice, .notice button {
        border: thin solid #777;
        border-radius: .5em;
    }

    .notice {
        width: max-content;
        padding: .3em .5em;
        text-align: center;

        div {
            display: flex;
            justify-content: space-evenly;
        }

        button {
            padding-inline: .3em;

            &:hover {
                background-color: rgb(255 255 255 / .1);
                border-color: #aaa;
            }
        }
    }

    i {
        font-style: italic;
    }
}
